configmake.h
configmake.h-t
charset.alias
ref-add.sed
ref-del.sed
libgnu.a
core
*.stackdump
alloca.h
alloca.h-t
assert.h
assert.h-t
dirent.h
dirent.h-t
errno.h
errno.h-t
fcntl.h
fcntl.h-t
float.h
float.h-t
fnmatch.h
fnmatch.h-t
inttypes.h
inttypes.h-t
langinfo.h
langinfo.h-t
limits.h
limits.h-t
locale.h
locale.h-t
math.h
math.h-t
./arg-nonnull.h
arg-nonnull.h-t
./c++defs.h
c++defs.h-t
./warn-on-use.h
warn-on-use.h-t
signal.h
signal.h-t
stdalign.h
stdalign.h-t
stdbool.h
stdbool.h-t
stddef.h
stddef.h-t
stdint.h
stdint.h-t
stdio.h
stdio.h-t
stdlib.h
stdlib.h-t
string.h
string.h-t
strings.h
strings.h-t
sys/select.h
sys/select.h-t
sys/socket.h
sys/socket.h-t
sys/stat.h
sys/stat.h-t
sys/time.h
sys/time.h-t
sys/types.h
sys/types.h-t
sys/uio.h
sys/uio.h-t
sys/wait.h
sys/wait.h-t
time.h
time.h-t
unistd.h
unistd.h-t
unitypes.h
unitypes.h-t
uniwidth.h
uniwidth.h-t
wchar.h
wchar.h-t
wctype.h
wctype.h-t
*.tab.c
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
*deps/*.*o
Makefile
*.dirstamp

# The "./" prefix on these above originally made git fail to actually
# ignore these, but now we no longer need to make git fail to ignore them
# like that, so do them again un-prefixed-ly:
arg-nonnull.h
c++defs.h
warn-on-use.h
