*.status
Makefile
confdefs.h
*.aux
*.cp
*.cps
*.dvi
*.fn
*.fns
*.ky
*.kys
*.log
*.pg
*.pgs
*.toc
*.tp
*.tps
*.vr
*.vrs
configdev.txt
configbuild.txt
configdev.eps
configbuild.eps
configdev.jpg
configbuild.jpg
