<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>XCRegisterGroups</key>
		<array>
			<string>Registers</string>
			<string>Vector Registers</string>
			<string>x87 Registers</string>
		</array>
		<key>Registers</key>
		<array>
			<string>rax</string>
			<string>rbx</string>
			<string>rcx</string>
			<string>rdx</string>
			<string>rsp</string>
			<string>rbp</string>
			<string>rsi</string>
			<string>rdi</string>
			<string>r8</string>
			<string>r9</string>
			<string>r10</string>
			<string>r11</string>
			<string>r12</string>
			<string>r13</string>
			<string>r14</string>
			<string>r15</string>
			<string>rip</string>
			<string>eflags</string>
			<string>cs</string>
			<string>ss</string>
			<string>ds</string>
			<string>es</string>
			<string>fs</string>
			<string>gs</string>
		</array>
		<key>x87 Registers</key>
		<array>
			<string>fctrl</string>
			<string>fstat</string>
			<string>ftag</string>
			<string>fiseg</string>
			<string>fioff</string>
			<string>foseg</string>
			<string>fooff</string>
			<string>fop</string>
			<string>st0</string>
			<string>st1</string>
			<string>st2</string>
			<string>st3</string>
			<string>st4</string>
			<string>st5</string>
			<string>st6</string>
			<string>st7</string>
		</array>
		<key>Vector Registers</key>
		<array>
			<string>mxcsr</string>
			<string>xmm0</string>
			<string>xmm1</string>
			<string>xmm2</string>
			<string>xmm3</string>
			<string>xmm4</string>
			<string>xmm5</string>
			<string>xmm6</string>
			<string>xmm7</string>
			<string>xmm8</string>
			<string>xmm9</string>
			<string>xmm10</string>
			<string>xmm11</string>
			<string>xmm12</string>
			<string>xmm13</string>
			<string>xmm14</string>
			<string>xmm15</string>
		</array>
	</dict>
	<dict>
		<key>XCRegisterGroups</key>
		<array>
			<string>Registers</string>
			<string>Float Registers</string>
			<string>Vector Registers</string>
		</array>
		<key>Registers</key>
		<array>
			<string>pc</string>
			<string>ps</string>
			<string>cr</string>
			<string>lr</string>
			<string>ctr</string>
			<string>xer</string>
			<string>mq</string>
			<string>r0</string>
			<string>r1</string>
			<string>r2</string>
			<string>r3</string>
			<string>r4</string>
			<string>r5</string>
			<string>r6</string>
			<string>r7</string>
			<string>r8</string>
			<string>r9</string>
			<string>r10</string>
			<string>r11</string>
			<string>r12</string>
			<string>r13</string>
			<string>r14</string>
			<string>r15</string>
			<string>r16</string>
			<string>r17</string>
			<string>r18</string>
			<string>r19</string>
			<string>r20</string>
			<string>r21</string>
			<string>r22</string>
			<string>r23</string>
			<string>r24</string>
			<string>r25</string>
			<string>r26</string>
			<string>r27</string>
			<string>r28</string>
			<string>r29</string>
			<string>r30</string>
			<string>r31</string>
		</array>
		<key>Float Registers</key>
		<array>
			<string>fpscr</string>
			<string>f0</string>
			<string>f1</string>
			<string>f2</string>
			<string>f3</string>
			<string>f4</string>
			<string>f5</string>
			<string>f6</string>
			<string>f7</string>
			<string>f8</string>
			<string>f9</string>
			<string>f10</string>
			<string>f11</string>
			<string>f12</string>
			<string>f13</string>
			<string>f14</string>
			<string>f15</string>
			<string>f16</string>
			<string>f17</string>
			<string>f18</string>
			<string>f19</string>
			<string>f20</string>
			<string>f21</string>
			<string>f22</string>
			<string>f23</string>
			<string>f24</string>
			<string>f25</string>
			<string>f26</string>
			<string>f27</string>
			<string>f28</string>
			<string>f29</string>
			<string>f30</string>
			<string>f31</string>
		</array>
		<key>Vector Registers</key>
		<array>
			<string>vscr</string>
			<string>vrsave</string>
			<string>v0</string>
			<string>v1</string>
			<string>v2</string>
			<string>v3</string>
			<string>v4</string>
			<string>v5</string>
			<string>v6</string>
			<string>v7</string>
			<string>v8</string>
			<string>v9</string>
			<string>v10</string>
			<string>v11</string>
			<string>v12</string>
			<string>v13</string>
			<string>v14</string>
			<string>v15</string>
			<string>v16</string>
			<string>v17</string>
			<string>v18</string>
			<string>v19</string>
			<string>v20</string>
			<string>v21</string>
			<string>v22</string>
			<string>v23</string>
			<string>v24</string>
			<string>v25</string>
			<string>v26</string>
			<string>v27</string>
			<string>v28</string>
			<string>v29</string>
			<string>v30</string>
			<string>v31</string>
		</array>
	</dict>
	<dict>
		<key>XCRegisterGroups</key>
		<array>
			<string>Registers</string>
			<string>Vector Registers</string>
			<string>x87 Registers</string>
		</array>
		<key>Registers</key>
		<array>
			<string>eax</string>
			<string>ebx</string>
			<string>ecx</string>
			<string>edx</string>
			<string>esp</string>
			<string>ebp</string>
			<string>esi</string>
			<string>edi</string>
			<string>eip</string>
			<string>eflags</string>
			<string>cs</string>
			<string>ss</string>
			<string>ds</string>
			<string>es</string>
			<string>fs</string>
			<string>gs</string>
		</array>
		<key>x87 Registers</key>
		<array>
			<string>fctrl</string>
			<string>fstat</string>
			<string>ftag</string>
			<string>fiseg</string>
			<string>fioff</string>
			<string>foseg</string>
			<string>fooff</string>
			<string>fop</string>
			<string>st0</string>
			<string>st1</string>
			<string>st2</string>
			<string>st3</string>
			<string>st4</string>
			<string>st5</string>
			<string>st6</string>
			<string>st7</string>
		</array>
		<key>Vector Registers</key>
		<array>
			<string>mxcsr</string>
			<string>xmm0</string>
			<string>xmm1</string>
			<string>xmm2</string>
			<string>xmm3</string>
			<string>xmm4</string>
			<string>xmm5</string>
			<string>xmm6</string>
			<string>xmm7</string>
			<string>mm0</string>
			<string>mm1</string>
			<string>mm2</string>
			<string>mm3</string>
			<string>mm4</string>
			<string>mm5</string>
			<string>mm6</string>
			<string>mm7</string>
		</array>
	</dict>
	<dict>
		<key>XCRegisterGroups</key>
		<array>
			<string>Registers</string>
			<string>Single Precision</string>
			<string>Double Precision</string>
		</array>
		<key>Registers</key>
		<array>
			<string>pc</string>
			<string>sl</string>
			<string>fp</string>
			<string>ip</string>
			<string>sp</string>
			<string>lr</string>
			<string>cpsr</string>
			<string>r0</string>
			<string>r1</string>
			<string>r2</string>
			<string>r3</string>
			<string>r4</string>
			<string>r5</string>
			<string>r6</string>
			<string>r7</string>
			<string>r8</string>
			<string>r9</string>
		</array>
		<key>Single Precision</key>
		<array>
			<string>fpscr</string>
			<string>s0</string>
			<string>s1</string>
			<string>s2</string>
			<string>s3</string>
			<string>s4</string>
			<string>s5</string>
			<string>s6</string>
			<string>s7</string>
			<string>s8</string>
			<string>s9</string>
			<string>s10</string>
			<string>s11</string>
			<string>s12</string>
			<string>s13</string>
			<string>s14</string>
			<string>s15</string>
			<string>s16</string>
			<string>s17</string>
			<string>s18</string>
			<string>s19</string>
			<string>s20</string>
			<string>s21</string>
			<string>s22</string>
			<string>s23</string>
			<string>s24</string>
			<string>s25</string>
			<string>s26</string>
			<string>s27</string>
			<string>s28</string>
			<string>s29</string>
			<string>s30</string>
			<string>s31</string>
		</array>
		<key>Double Precision</key>
		<array>
			<string>d0</string>
			<string>d1</string>
			<string>d2</string>
			<string>d3</string>
			<string>d4</string>
			<string>d5</string>
			<string>d6</string>
			<string>d7</string>
			<string>d8</string>
			<string>d9</string>
			<string>d10</string>
			<string>d11</string>
			<string>d12</string>
			<string>d13</string>
			<string>d14</string>
			<string>d15</string>
		</array>
	</dict>
</array>
</plist>
