*CVS
*DS_Store*
*.build
*.cache
*.dSYM
*.la
*.lai
*.lo
*.log
*.o
*.out
*.pbxuser
*.perspectivev3
*.xcworkspacedata
*/xcuserdata/*
*.xcuserdatad
*.xcuserstate
*.status
*.tmp
confdefs.h
config.h
conftest*
stamp-h*
*(Autosaved)*
*~
*site.exp
*/*site.exp
*.sum
obj/*
tmpwrk*/*
BuildRoot/*
Logs/*
Symbols/*
Roots/*

# no longer keeping these as submodules:
binutils-gdb/*
macgdb/*
