*DS_Store*
*.build
*.cache
*.dSYM
*.la
*.lai
*.lo
*.log
*.o
*.out
*.pbxuser
*.perspectivev3
*.status
*.tmp
config.h
stamp-h*
*(Autosaved)*
*~
*site.exp
*/*site.exp
*.sum

# Too much to add to git at once; un-gitignore later:
doc/*.html
doc/*.dvi
doc/*.pdf

