*.{c,C,cc,h} whitespace=trailing-space

# Some files should not be treated as text when diffing or merging.
*.chm binary
*.cur binary
*.gif binary
*.gmo binary
*.helpindex binary
*.icns binary
*.ico binary
*.jin binary
*.jpg binary
*.pdf binary
*.png binary
*.pnm binary
*.raw binary
*.webarchive binary
*.xcplugindata binary

# Tell GitHub to ignore when calculating language stats:
aclocal.m4 linguist-vendored
libcheckpoint/Makefile.in linguist-vendored

# Gnulib's git-merge-changelog driver:
ChangeLog    merge=cl-merge

#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf
