*CVS
*DS_Store*
*.build
*.cache
*.dSYM
*.jar
*.la
*.lai
*.lo
*.log
*.o
*.out
*.pbxuser
*.perspectivev3
*.xcworkspacedata
*/xcuserdata/*
*.xcuserdatad
*.xcuserstate
*.status
*.tmp
confdefs.h
config.h
conftest*
stamp-h*
*(Autosaved)*
*~
*site.exp
*/*site.exp
*.sum
dst/*
obj/*
sym/*
tmpwrk*/*
BuildRoot/*
Logs/*
Symbols/*
Roots/*

# no longer keeping these as submodules:
binutils-gdb/*
macgdb/*

# (the GitHub Desktop GUI may insert things below this line)
.env.local

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
