testsuite/test-demangle
testsuite/test-pexecute
testsuite/Makefile
Makefile
*.o
*.dSYM
pic
core
errs
\#*
*.E
a.out
needed*.awk
errors
dummy
needed-list
config.h
stamp-*
libiberty.aux
libiberty.cp
libiberty.cps
libiberty.fn
libiberty.ky
libiberty.log
libiberty.tmp
libiberty.tps
libiberty.pg
libiberty.pgs
libiberty.toc
libiberty.tp
libiberty.tpl
libiberty.vr
libtexi.stamp
*.a
required-list
tmpmulti.out
libiberty.dvi
libiberty.info*
libiberty.html
*.framework
