testsuite/demangler-fuzzer
testsuite/test-demangle
testsuite/test-expandargv
testsuite/test-pexecute
testsuite/test-strtol
testsuite/Makefile
Makefile
*.o
*.dSYM
pic
core
errs
\#*
*.E
a.out
needed*.awk
errors
dummy
needed-list
config.h
conf*/*.awk
stamp-*
libiberty.aux
libiberty.cp
libiberty.cps
libiberty.fn
libiberty.ky
libiberty.log
libiberty.tmp
libiberty.tps
libiberty.pg
libiberty.pgs
libiberty.toc
libiberty.tp
libiberty.tpl
libiberty.vr
libtexi.stamp
*.a
required-list
tmpmulti.out
libiberty.dvi
libiberty.info*
libiberty.html
*.framework
libtoolT
*.bak

# Besides being built as objects, certain files can also be built as
# standalone programs, so gitignore the built programs as well:
demangle
_doprnt
argv
concat
floatformat
getopt
getopt1
physmem
sorttest
strerror
strsignal
vasprintf
vsnprintf
