Makefile
*.aux
*.cp
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.cps
*.pgs
*.fns
*.kys
*.tps
*.vrs
*.bt
*.bts
*.o
core
*.core
rlman.dvi
hist.dvi
rluserman.dvi
readline.dvi
history.dvi
readline.ps
history.ps
rluserman.ps
readline_3.ps
history_3.ps
readline.html
history.html
rluserman.html
readline.info
history.info
rluserman.info
readline.0
history.0
old/*
