*.o
*.ali
b~*.ad[sb]
*~
a.out
xgdb
*.ci
*.tmp
core
core.coremaker
coremaker.core
corefile
clobbered-registers-O2
inline-bt
inline-cmds
inline-locals
twice-tmp.c
Makefile
*.status
*.log
*-init.exp
summary
detail
*.plog
*.sum
*.psum
site.*
