po/core*
po/*.pox
po/opcodes.po
po/*.old.po
po/cat-id-tbl.tmp
po/*.o
po/*.gmo
po/Makefile.in
po/POTFILES
Makefile
config.h
libopcodes.la
site.exp
site.bak
so_locations
stamp-*
libopcodes.a
stamp-lib
dep.sed
DEP
DEPA
DEP1
DEP2
*libs/*
*.lo
*.loT
*deps/*.*o
*.sum
*.framework
*.tab.c
libtool
libtoolT
config.lt
TAGS
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
*.status
*.log
*.cache
s390-mkopc
s390-opc.tab
conf*/*.awk
