po/core*
po/*.pox
po/opcodes.po
po/*.old.po
po/cat-id-tbl.tmp
po/*.o
po/*.gmo
po/Makefile.in
Makefile
config.h
libopcodes.la
site.exp
site.bak
so_locations
stamp-*
libopcodes.a
stamp-lib
dep.sed
DEP
DEPA
DEP1
DEP2
*libs/*
*.lo
*deps/*.*o
*.sum
*.framework
