*libs/*
*.lo
autoopts/tpl/tpl-config.tlib
stamp-*
config.h
libtool
config.lt
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
*.status
*.cache
*.log
config*.lineno
Makefile
build/*
*~
site.exp
site.bak
*.sum
*.diff
.*.swp
\#*
.#*
*-ori
/*.cpx
/patches

