doc/libtool.dvi
doc/libtool.pdf
doc/libtool.ps
doc/libtool.html
libtool
libtoolize
libltdl/config/ltmain.tmp
libltdl/m4/ltversion.tmp
libltdl/libltdl.la
libltdl/libltdlc.la
libltdl/libdlloader.la
libltdl/argz.o
libltdl/argz.lo
libltdl/so_locations
*libs/*
libltdl/*libs/*
libltdl/loaders/*libs/*
tests/atconfig
_inst-*demo/*
test-suite.log
tests/*.trs
*.dylib
tests/testsuite.dir
tests/defs
tests/testsuite.log
