!.gitignore
*.[oa]
*.bundle
*.class
*.gz
*.jar
*.md5
*.orig
*.rej
*.sha1
*.so
*.zip
*~
*DS_Store*
.debug.properties
.idea/workspace.xml
.metadata
.redcar
/.externalToolBuilders/*
/.idea/*
/.settings/*
bin/*
build
build.eclipse
build.properties
build_graph.png
dev_null
dist
docs/api
glob_test
latest_source_cache
lib_managed/*
nbproject/private
project/boot/*
project/build/target/*
share
shared.iml
spaces test
target/*
test/testapp/testapp
