*.ci
*.o
*.tmp
*.x
*~
../foobar.baz
a.out
all-types
annota1
bitfields
break
call-ar-st
call-rt-st
call-strs
callfuncs
callfwmall
chng-syms
commands
compiler
condbreak
constvars
core
core.coremaker
corefile
coremaker
coremaker.core
coremmap.data
dbx-test
display
ending-run
execd-prog
exprs
foll-exec
foll-fork
foll-vfork
funcargs
int-type
interrupt
jump
langs
list
long_long
mips_pro
miscexprs
nodebug
opaque
overlays
pointers
pointers2
printcmds
ptype
recurse
reread
reread1
restore
return
run
scope
section_command
setshow
setvar
shmain
shr1.sl
shr2.sl
sigall
signals
so-impl-ld
so-indr-cl
solib
solib1.sl
solib2.sl
solib_sl
solib_sl.sl
step-line
step-test
structs
structs2
twice-tmp
twice-tmp.c
varargs
vforked-prog
watchpoint
whatis
xgdb
