CMakeCache.txt
CMakeFiles/*
CTestTestfile.cmake
cmake_install.cmake
zlib.pc
*.o
*.lo
*~
example
minigzip
examplesh
minigzipsh
example64
minigzip64
infcover
libz.a
*.dylib
foo.gz
so_locations
_match.s
maketree
contrib/infback9/*.o
objs/*
*.gcda
*.gcno
*.gcov
contrib/infback9/*.gcda
contrib/infback9/*.gcno
contrib/infback9/*.gcov
zconf.h.in
zconf.h
Makefile
*.log
*.pbxuser
*.perspectivev3
build/*
*.build
conf*/*.awk
