*deps/*.*o
*libs/*
libgnu.a
*.o
*.lo
site.exp
site.bak
core
*.stackdump
stdint.h
stdint.h-t
string.h
string.h-t
wchar.h
wchar.h-t
*.tab.c
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
Makefile
Makefile.orig
cscope*.out
cscope.files
config*.lineno
*.tar.gz
libgnu-*.*.*/*
