*~
*.o
a.out
xgdb
*.x
*.ci
*.tmp
core*
pthreads
Makefile
*.status
*.log
config.h
*.dSYM
bp-in-thread
bp_in_thread
execl
gcore-pthreads
hand-call-in-threads
interrupted-hand-call
killed
manythreads
multi-create
pending-step
print-threads
pthread_cond_wait
switch-threads
thread-execl
thread-specific
thread_check
threadapply
threxit-hop-specific
watchthreads
watchthreads2
