bfd.aux
bfd.cp
bfd.cps
bfd.fn
bfd.ky
bfd.kys
bfd.log
bfd.pg
bfd.pgs
bfd.tmp
bdf.toc
bfd.tp
bfd.tps
bfd.vr
bfd.vrs
bfd.dvi
bfd.pdf
bdf.ps
bfd.html
chew
*.o
*.lo
bfd.info
bfd.info-*
site.bak
site.exp
bfd.sum
