bfd.aux
bfd.cp
bfd.cps
bfd.fn
bfd.ky
bfd.kys
bfd.log
bfd.pg
bfd.pgs
bfd.tmp
bdf.toc
bfd.tp
bfd.tps
bfd.vr
bfd.vrs
bfd.dvi
bfd.pdf
bdf.ps
bfd.html
chew
chew_am
.dirstamp
*.dSYM
*.exe
*.o
*.lo
bfd.info
bfd.info-*
site.bak
site.exp
bfd.sum
bfd.t2[dp]/*

# A floating file extension without a name before it means a script failed:
.texi

# generated:
bfdver.texi

# not sure why I never gitignored these generated headers before:
libbfd.h
libcoff.h
