hc-direct
hc-libflag
hc-libpath
hc-minusL
hell0
libhell1.la
libhell2.la
libhell0.a
libhello.la
hell
hell_static
helldl
./so_locations
*libs/*
*.o
*.lo
*.tab.c
libtool
config.lt
a.out.*
a.exe.*
a_out.exe.*
b.out.*
conftest.*
*.xcoff
*.tds
*.d
*.pdb
*.xSYM
*.bb
*.bbg
*.map
*.inf
*.dSYM
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
*.status
*.cache
*.log
config*.lineno
Makefile
