*.o
*.ali
*~
a.out
*.dwo
*.dwp
core
core.coremaker
coremaker.core
corefile
chan
handcall
hello
integers
methods
package
strings
types
unsafe
Makefile
*.status
*.log
*-init.exp
*.sum
summary
detail
*.plog
*.psum
site.*
