CVS/*
*/Runtime\ Libraries/*
*/(Support\ Libraries)/*
*/*/(Support\ Libraries)/*
Building\ MacTclTk
Drag\ \&\ Drop\ Tclets
Mac\ Tcl:Tk\ Readme
MacTcl\ README
MacTk\ README
MoreFiles
Tcl\ README
Tk\ README
TclBOAShell
TclShell
tcl8.4
tk8.4
Widget\ Demos
Wish
*.[Ss]hlb
*.dll
*.DLL
*/Icon?
*/*/Icon?
*/*/*/Icon?
