*~
*.o
a.out
xgdb
*.x
*.ci
*.tmp
core
core.coremaker
coremaker.core
corefile
simple
stack
c_variable
cpp_variable
twice-tmp.c
Makefile
*.status
*.log
arch.inc
*-init.exp
summary
detail
*.plog
*.sum
*.psum
site.*

