*.status
Makefile
config.h
*~
core
*.o
*.dSYM
*.dylib
*.log
*.plog
*.sum
*.psum
*_unstripped
summary
detail
site.*
*-init.exp
bigenum
blocks
blocks-linetables
blocks-linetables2
blocks-queues
check-errno
dylib-loader
file (my name)
file-statics
function-statics
global-blocks-lines
global-blocks-lines2
gused/psym-type-defn
gused/shantonu
gused/split-pi
gused/type-qualifications
inf-call-interrupt
info-pid
long-long-call
malloc-history
nick
objc-prog
objc-throw-in-inf-fn
ostype
pc-verify
r3376901
r3376907
r3384998
recurse
scoped-typedefs
sections
shared-cache-sym
sigtramp
slipnslide
struct-ret-err
varobj-sel-frame
watch-location
xcode/callfuncs
xcode/inf-call-interrupt-notsleep
xcode/structs
