/opts.[cho]*
./cright-cmap.h
./cright-update
/cright-update.[o1]
./collapse-*
/.fsm.*
*.o
core*
opts.c-stamp
opts.c-dep
collapse-dep
collapse-stamp
cright-update
cright-update.1
cright-update.texi
cright-update.menu
opts.c
opts.h
cright-cmpa.h
collapse-*
*~
