*.cache
*.log
*.status
Makefile
pkgIndex
Dbg_cf.h
expect_cf.h
*~
*.o
shared
core
expect-bld.sh
expect.exe
expect_installed.exe
expecti.exe
expecti_installed.exe
expectk.exe
expectk_installed.exe
dumb
exho
devtty
libexpect5.26.a
libexpect5.26.dylib
reconfigure_Tcl_for_shared_library
timed-run
timed-read
ftp-rfc
autopasswd
lpunlock
weather
passmass
rftp
kibitz
rlogin-cwd
xpstat
tkpasswd
dislocate
xkibitz
tknewsbiff
unbuffer
mkpasswd
cryptdir
decryptdir
autoexpect
end_of_list
*shared-ofiles
