confdefs.h
config.h
*.o
*~
*.log
Makefile
Makefile*orig
*.status
*.cache
stamp-*
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
site.exp
site.bak
*.sum
cygwinports.com/*
