lib*.la
so_locations
*libs/*
*.o
*.lo
*.tab.c
minizip.pc
config.h
stamp-*
libtool
config.lt
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
*.status
*.cache
*.log
config*.lineno
*deps/*.*o
Makefile
