*.status
Makefile
config.h
*.cache
*.o
*~
*.log
gdbserver
gdbreplay
core
make.log
reg-arm.c
reg-i386.c
reg-ia64.c
reg-m32r.c
reg-m68k.c
reg-mips.c
reg-ppc.c
reg-sh.c
reg-x86-64.c
reg-i386-linux.c
reg-ppc64.c
reg-cris.c
reg-crisv32.c
reg-arm-macosx.c
tm.h
xm.h
nm.h
stamp-*
build-gnulib/*
build-gnulib-gdbserver/*
build-libiberty-gdbserver/*
# some new generated source files:
amd64-avx.c
amd64-avx-linux.c
amd64-avx-mpx-linux.c
amd64-avx512.c
amd64-avx512-linux.c
amd64-linux.c
amd64-mpx.c
amd64-mpx-linux.c
amd64.c
i386-avx.c
i386-avx-linux.c
i386-avx-mpx-linux.c
i386-avx512.c
i386-avx512-linux.c
i386-mmx.c
i386-mmx-linux.c
i386-mpx.c
i386-mpx-linux.c
i386.c
x32-avx.c
x32-avx-linux.c
x32-avx512.c
x32-avx512-linux.c
x32-linux.c
x32.c
xml-builtin.c
