*.status
*~
core
*.o
a.out
xgdb
*.x
*.grt
*.rum
*.c
*.dif
*.*out
Makefile
site.exp
site.bak

# Needed by the configure script to verify srcdir:
!common/bits-tst.c

# gitignore subdirectories with their own configure scripts
# (until that I can verify that each of them works)
d10v-elf/*
d30v-elf/*
fr30-elf/*
frv-elf/*
m32r-elf/*
