configure261.scan
configure264.scan
Makefile
backtrace-supported.h
config.h
libtool
gstdint.h
config_status_backup.sh
btest
stest
*libs/*.*o
libbacktrace.la
so_locations
*.log
*.trs
*.lo
*.tab.c
stamp-h*
config.lt
*.cache
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
