# src/binutils/.gitignore

*~
*.trs
*.dSYM
*.framework
*.i
*.lo
*.o
*.s
*deps/*.*o
*libs/*
DEP
DEP1
DEP2
DEPA
Makefile
abcdefgh*
addr2line
ar
arlex.c
arparse.c
arparse.h
binutils-*/*
arparse.output
bfdtest1
bfdtest2
bin2c
binutils.log
binutils.sum
coffdump
config.h
cxxfilt
defparse.output
dep.sed
dlltool
dllwrap
doc/Makefile
elfedit
embedspu
lex.backup
lex.yy.c
libtool
mcparse.output
nlmconv
nlmheader.output
nm-new
objcopy
objdump
po/*.gmo
po/*.o
po/*.old.po
po/*.pox
po/Makefile.in
po/POTFILES
po/binutils.po
po/cat-id-tbl.tmp
po/core*
ranlib
rcparse.output
readelf
site.bak
site.exp
size
srconv
stamp-*
strings
strip-new
sysdump
sysinfo
sysinfo.output
tmpdir
windmc
windres

# this header is generated:
sysroff.h
# ...as is this:
sysroff.c
