*.a
*.lo
*.o
*.status
*libs/*
*~
Makefile
Makefile.orig
confdefs.h
config.h
conftest*
core*
libtool
po/*.insert-header
po/*.new.po
po/Makefile
po/Makefile.in
po/Makevars
po/POTFILES
po/core*
po/libintl.*po
po/remove-potcdate.sed
po/stamp*
site.bak
site.exp
