*.a
*.lo
*.o
*.status
*libs/*
*~
Makefile
Makefile.orig
Makefile_orig
confdefs.h
config.h
config.intl
conftest*
conf*/*.awk
core*
libtool
libtoolT
po/*.insert-header
po/*.new.po
po/Makefile
po/Makefile.in
po/Makevars
po/POTFILES
po/core*
po/libintl.*po
po/remove-potcdate.sed
po/stamp*
po2tbl.sed
site.bak
site.exp
