*.status
Makefile
\#*
*~
core
*.o
a.out
xgdb
*.x
core
*.aux
*.log
*gnu.cp
*gnu.fn
*gnu.ky
*gnu.pg
*gnu.toc
*gnu.tp
*gnu.vr
*gnu.cps
*gnu.fns
*gnu.kys
*gnu.pgs
*gnu.tps
*gnu.vrs
*.cache
gdbme.c
READMEdvi
conf*/*.awk
