*~
*.o
*.x
*.ci
*.sl
a.out
core
break-reverse
consecutive-reverse
finish-reverse
machinestate
solib-reverse
step-reverse
until-reverse
watch-reverse
i386-reverse
Makefile
*.status
*.log
*-init.exp
summary
detail
*.plog
*.sum
*.psum
site.*
