*.a
*.c
*.o
*DS_Store*
*perl.core
Compress-Raw-Zlib-2.063
MYMETA.json
MYMETA.yml
Makefile
Makefile.aperl
Makefile.old
Zlib.bs
Zlib.bso
Zlib.c
Zlib.def
Zlib.exp
Zlib.x
blib
blib/arch/auto/Compress/Raw/Zlib/extralibs.all
blib/arch/auto/Compress/Raw/Zlib/extralibs.ld
blibdirs.ts
constants.h
constants.xs
core
core.*perl.*.?
core.[0-9]
core.[0-9][0-9]
core.[0-9][0-9][0-9]
core.[0-9][0-9][0-9][0-9]
core.[0-9][0-9][0-9][0-9][0-9]
libZlib.def
mon.out
perl
perl.exe
perlmain.c
pm_to_blib
pm_to_blib.ts
so_locations
tmon.out
