*.status
Makefile
doc/Makefile
testsuite/Makefile
example/Makefile
testsuite/libdejagnu/Makefile
config.h
unix/tcltest
lex.yy.c
*.log
*.sum
site.bak
site.exp
setval.tmp
stamp-h*
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
