*.status
Makefile
doc/Makefile
doc/dejagnu.dvi
doc/dejagnu.pdf
doc/dejagnu.ps
doc/dejagnu.html
doc/dejagnu.t2d
doc/dejagnu.t2p
doc/.dirstamp
testsuite/Makefile
example/Makefile
expect
testsuite/libdejagnu/Makefile
config.h
unix/tcltest
lex.yy.c
*.log
*.sum
*.o
site.bak
site.exp
setval.tmp
stamp-h*
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
conf*/*.awk

# For some reason gdb's testsuite likes to copy stuff here:
gdb.ada/*
gdb.apple/*

# Uh... dunno where this came from:
dejagnu-/*

# In case user tries to make a distdir:
dejagnu-*.*.*/*
