*.o
*.ali
b~*.ad[sb]
*~
a.out
xgdb
*.x
*.ci
*.tmp
core
core.coremaker
coremaker.core
corefile
null_record/null_record
fixed_points/fixed_points
twice-tmp.c
Makefile
*.status
*.log
*-init.exp
summary
detail
*.plog
*.sum
*.psum
site.*
