po/core*
po/*.pox
po/bfd.po
po/*.old.po
po/*.gmo
po/cat-id-tbl.tmp
po/Makefile.in
*.dSYM
*.o
*.lo
doc/*.p
doc/*.ip
doc/*libs/*
libbfd.a
libbfd.la
so_locations
bfd.h
bfd-in3.h
dep.sed
DEP
DEPA
DEP1
DEP2
stamp-*
stmp-bfd-h
stmp-bin2-h
stmp-lbfd-h
stmp-lcoff-h
*libs/*
ofiles
Makefile
doc/Makefile
config.h
*deps/*.*o
conf*/*.awk
bfd_stdint.h
bfdver.h
*bfd.sum
*site.exp
*site.bak
*.framework
libtool
libtool.old
libtoolT
*.swp
config/*
