*.status
Makefile
gdb.*/Makefile
gdb.*/*/Makefile
*~
core
*.o
a.out
xgdb
*.x
*.grt
site.bak
site.exp
*-init.exp
*.log
*.plog
*.sum
*.psum
summary
detail

# gitignoring temporarily to commit separately:
gdb.cell/*
gdb.cp/*
gdb.dwarf2/*
gdb.mi/*
gdb.modula2/*
gdb.opt/*
gdb.pascal/*
gdb.python/*
gdb.reverse/*
gdb.threads/*
gdb.xml/*
