*.status
Makefile
gdb.*/Makefile
gdb.*/*/Makefile
lib/pdtrace
outputs/*
*~
core
expect-read1
read1.so
.o
*.o
a.out
xgdb
*.x
*.grt
site.*
*-init.exp
*.log
*.plog
*.sum
*.psum
summary
detail
args
vforked-prog.c
conf*/*.awk
cell*.c
cell*-spu.c
!README
gdb_cmd
