*.status
Makefile
gdb.*/Makefile
gdb.*/*/Makefile
*~
core
*.o
a.out
xgdb
*.x
*.grt
site.bak
site.exp
*-init.exp
*.log
*.plog
*.sum
*.psum
summary
detail
args
vforked-prog.c

# temporarily gitignore big subdirectories to commit separately:
gdb.base/*
gdb.cp/*
gdb.dwarf2/*
gdb.mi/*
gdb.btrace/*
gdb.reverse/*
gdb.threads/*
gdb.trace/*
