cdemo
*libs/*
libfoo.la
./so_locations
*.o
*.lo
*.tab.c
libtool
config.lt
a.out.*
a.exe.*
a_out.exe.*
b.out.*
conftest.*
*.xcoff
*.tds
*.pdb
*.xSYM
*.bb
*.bbg
*.map
*.inf
*.dSYM
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
*.status
*.cache
*.log
config*.lineno
Makefile
