*.status
Makefile
*~
*.log
*.plog
*.o
*.sum
*.psum
*-init.exp
a.out
core
corefile
gcore.test
break
bt
coremaker
data
mem-access
size
break-spu
bt-spu
bt2-spu
coremaker-spu
data-spu
ea-cache-spu
ea-standalone
ea-test
mem-access-spu
size-spu
summary
detail
site.*
