*~
*.o
*.ci
core
ambiguous
annota2
anon-union
cplusfuncs
cttiadd
derivation
inherit
local
member-ptr
method
misc
overload
ovldbreak
ref-typ
ref-typ2
templates
userdef
virtfunc
namespace
ref-types
Makefile
*.status
*.log
*.dSYM
