*-all
*-co
*-dirs
*-done
*-install-info
*-src
*-stamp-*
*-tagged
*.E
*.a
*.cache
*.log
*.o
*.status
*.sum
*/*libs/*.a
*~
Makefile
TAGS
TEMP
\#*
bfd/bfd-in3.h
bfd/doc/*.texi
bfd/doc/chew
bfd/po/*POTFILES
blockit
cfg-paper.info
confdefs.h
config.h
configure.aux
configure.cp
configure.cps
configure.dvi
configure.fn
configure.fns
configure.ky
configure.kys
configure.log
configure.pg
configure.pgs
configure.toc
configure.tp
configure.tps
configure.vr
configure.vrs
conftest*
core
dir.info
dist/*
errs
gcc/*/libgcc.a
gcc/libgcc
gcc/stmp-dirs
intl/po2tbl.sed
libiberty/*-list
libiberty/lib*.a
libiberty/stamp*
libiberty/xhost-mkfrag
libtool
lost+found
maybedep.tmp
mh-frag
mt-frag
serdep.tmp
update.out
update.sourceware

