# Tell GitHub to ignore when calculating language stats:
aclocal.m4 linguist-generated
ar-lib linguist-vendored
compile linguist-vendored
config.guess linguist-vendored
config.h.in linguist-generated
config.rpath linguist-vendored
config.sub linguist-vendored
depcomp linguist-vendored
install-sh linguist-vendored
mdate-sh linguist-vendored
missing linguist-vendored
mkinstalldirs linguist-vendored
test-driver linguist-vendored
texinfo.tex linguist-vendored
ylwrap linguist-vendored

# Gnulib's git-merge-changelog driver:
ChangeLog    merge=cl-merge
