*-all
*-co
*-dirs
*-done
*-install-info
*-src
*-stamp-*
*-tagged
*.E
*.a
*.cache
*.diff
*.flt
*.gmo
*.info
*.la
*.lo
*.log
*.o
*.orig
*.patch
*.pyc
*.rej
*.status
*.sum
*.tmp
*/*libs/*.a
*~
.#*
.deps
.libs
.gdbinit
.gdb_history
.local.vimrc
.lvimrc
LAST_UPDATED
Makefile
Makefile*orig
REVISION
TAGS
TAGS.sub
TEMP
\#*
*#
bfd/bfd-in3.h
bfd/doc/chew
bfd/po/*POTFILES
POTFILES
*-POTFILES
blockit
build/*
build-*-*-*/*
cfg-paper.info
conf*/*.awk
conf*/out
confdefs.h
config.h
config.intl
configure.aux
configure.cp
configure.cps
configure.dvi
configure.fn
configure.fns
configure.ky
configure.kys
configure.pg
configure.pgs
configure.toc
configure.tp
configure.tps
configure.vr
configure.vrs
conftest*
core
dir.info
dist/*
errs
gcc/*/libgcc.a
gcc/libgcc
gcc/stmp-dirs
gdb-fake-dist-root/*
intl/po2tbl.sed
libiberty/*-list
libiberty/lib*.a
libiberty/stamp*
libiberty/xhost-mkfrag
libtool
lost+found
mh-frag
mt-frag
update.out
update.sourceware
x86_64-apple-darwin*.*.*/*
