Makefile
*.status
*.log
links2roff
gdb.mm
gdb.ms
gdb.me
gdb.aux
gdb.cp*
gdb.fn*
gdb.ky*
gdb.log
gdb.pg*
gdb.toc
gdb.tp*
gdb.vr*
gdbint.aux
gdbint.cp*
gdbint.fn*
gdbint.ky*
gdbint.log
gdbint.pg*
gdbint.toc
gdbint.tp*
gdbint.vr*
stabs.aux
stabs.cp*
stabs.fn*
stabs.ky*
stabs.log
stabs.pg*
stabs.toc
stabs.tp*
stabs.vr*
annotate.aux
annotate.cp*
annotate.fn*
annotate.ky*
annotate.log
annotate.pg*
annotate.toc
annotate.tp*
annotate.vr*
sedref.dvi
sedref.tex
tmp.sed
gdb-cfg.texi
GDBvn.texi
*.info*
*.dvi
*.ps
*.html
*.pdf

