*.o
*.ali
b~*.ad[sb]
*~
a.out
xgdb
*.x
*.ci
*.tmp
core
core.coremaker
coremaker.core
corefile
hello
hello/hello
twice-tmp.c
Makefile
*.status
*.log
*-init.exp
summary
detail
*.plog
*.sum
*.psum
site.*
floats
integers
