<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Apple clang version 13.0.0 (clang-1300.0.29.30)</string>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>3963</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>3963</integer>
         <key>col</key><integer>12</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>3963</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;pm&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;pm&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;pm&apos; is never read</string>
   <key>category</key><string>Unused code</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>f39e34544bbaabce3b70e2b3ed96fd89</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>map_sections_to_segments</string>
  <key>issue_hash_function_offset</key><string>351</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>3963</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>3963</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>4838</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>4838</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>4838</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;i_shdrp&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;i_shdrp&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;i_shdrp&apos; is never read</string>
   <key>category</key><string>Unused code</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>64e5f279e7fdd33beb7f18049bf9f7cb</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>prep_headers</string>
  <key>issue_hash_function_offset</key><string>8</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>4838</integer>
   <key>col</key><integer>3</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>4838</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>4960</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>4960</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>4960</integer>
         <key>col</key><integer>32</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;i_ehdrp&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;i_ehdrp&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;i_ehdrp&apos; is never read</string>
   <key>category</key><string>Unused code</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>f5f6257c4e6d363a7f96ca8027823ba1</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>_bfd_elf_write_object_contents</string>
  <key>issue_hash_function_offset</key><string>12</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>4960</integer>
   <key>col</key><integer>3</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>4960</integer>
   </array>
  </dict>
  </dict>
 </array>
 <key>files</key>
 <array>
  <string>elf.c</string>
 </array>
</dict>
</plist>
