*~
*.o
*.ci
core
dollar
hwwatchbus.bak
pxdb
reg
reg-pa64
so-thresh
genso-thresh
sized-enum
so-thresh.c
so-thresh.lopt
so-thresh.make.out
lib*-so-thresh.*
Makefile
*.status
*.log
*-init.exp
summary
detail
*.plog
*.sum
*.psum
site.*
