build/*
*.build
*.pbxuser
*.perspectivev3
!build/Development.build/Tcl.build
!build/Development.build/Tcl.build/Tcl_Upgraded.build
!build/Development.build/Tcl.build/Make.build
!build/Development.build/Tcl.build/Make_Upgraded.build
!build/Development.build/Tcl.build/Configure.build
!build/Development.build/Tcl.build/Configure_Upgraded.build
*.o
*.a
libtcl*
core
errs
*~
\#*
TAGS
*.E
a.out
errors
tclsh
tcltest
lib.exp
Makefile
*.status
*.cache
*.log
tclConfig.sh
tclConfig.h
config.h
SCRPtcl.*
Tcl-Info.plist
Tclsh-Info.plist
dltest/Makefile
prototype
